:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}


.sm-logos {
  height: 7vmin;
  padding: 2vmin;
}

body {
  background-size: auto;
  background-position: center;
  position: relative;
}



body::before {
  content: ''; /* Necessary for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0; /* Places the overlay behind the content */
}

.App {
  color: #FFF; /* White text */
  position: relative; /* To ensure it's above the overlay */
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0);
  padding: .5rem;
  width: 100%;
  margin-top: 0;

}

.nav-text {
  color: rgb(255, 225, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.nav-text:hover{
  color: fuchsia
}

#videoBackground {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; 
  z-index: -1;     
}

.content{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1rem;
  max-width: 50rem;
  color: rgb(255, 255, 255) ;
  text-shadow: 0 0 10px rgb(0, 162, 255), 0 0 20px rgb(255, 0, 0);
}

#app-images {
  height: 15rem;
  min-width: 30rem;
  border-radius: 20px ;
  object-fit: cover;
}

#project-wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.7);
  height: 18rem;
  align-items: center;
  padding: .7rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 20px;
}

#project-wrapper p{
  padding-left: 1rem;
  text-align: justify;
}

#headshot{
  height: 10rem;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(200, 0, 255), 0 0 20px rgb(255, 0, 0) ;
}

@media only screen and (max-width: 1040px) {
  #project-wrapper{
    flex-direction: column;
    height: 25rem;
    padding-top: 1rem;
  }
}


.project-btns{
  margin: .5rem 1rem;
  background-color: purple;
  border-color: fuchsia;
  font-family: 'Rubik', sans-serif;
}

.resume-container{
  box-shadow: 0 0 10px rgb(200, 0, 255), 0 0 20px rgb(255, 0, 0) ;
  padding: .5rem;
  border-radius: 20px;
}

#email a{
  color: rgb(255, 0, 200);
}

#email {
  background-color: rgba(0, 0, 0, 0.7);
 
  border-radius: 10px;
  padding: 1rem;
}

#email a:hover{
  color: rgb(255, 0, 200);
  box-shadow: 0 0 10px rgb(200, 0, 255), 0 0 20px rgb(255, 0, 0);
  border-radius: 20px;
  padding: .5rem;
}
